
  $c:5; $co:4; $n:3; $no:2;
  #portfol-area{ display:none; position:absolute; @include conUnit(top, 100); left:0; width:100%; @include conUnit(height, 1000); /* background-color:rgb(211, 194, 194); */ background-color:#4c5e77;
    &>.p-wrap-box{ position:relative; @include conUnit(padding, 50); box-sizing:border-box; @include fullBox; 
      &>p{ position:absolute; left:50%; @include conUnit(bottom, 50); transform:translateX(-50%); width:100%; height:auto; @include conUnit(font-size, 20); text-align:center;  }
      &>.p-left-box{ float:left; margin-right:3%; width:20%; height:100%; /* background-color:#d3c2c2; */ background-color:#2f4463; @include conUnit(border-radius, 10); 
        &>ul{ @include conUnit(padding, 10); box-sizing:border-box; @include fullBox; 
          &>li{ width:100%; @include conUnit(padding, 20); box-sizing:border-box; background-color: #fff; @include conUnit(border-radius, 20); @include conUnit(line-height, 30);
          &:nth-child(1){ height:15%; margin-top:10%; }
          &:nth-child(2){ height:15%; margin-top:10%; }
          &:nth-child(3){ height:15%; margin-top:10%; }
          &:nth-child(4){ height:15%; margin-top:10%; }
            &>a{ display:block; width:auto; height:auto; 
              &>span{ display:block; width:100%; @include conUnit(height, 30); text-align:center; @include conUnit(font-size, 16); font-family: 'Nanum Gothic Coding', monospace; color:#fff; @include conUnit(border-radius, 20); background-color:#000033; font-weight:bold; @include conUnit(margin-bottom, 10); } 
            } //a
            &>button{ width:100%; @include conUnit(height, 30); text-align:center; @include conUnit(font-size, 16); color:#fff; @include conUnit(border-radius, 20); background-color:#000033; font-family: 'Nanum Gothic Coding', monospace; font-weight:bold;  }
          } //li
        } //ul 
      } //p-left-box
      &>.p-right-box{ float:right; position:relative; @include conUnit(padding, 50); box-sizing:border-box; width:75%; height:90%; overflow:hidden; overflow-y:auto; 
        &>.intro-area{ position:absolute; top:0; left:0; z-index:100; @include fullBox; background-color:#fff; background-image: url('../../img/portfolio/cover-01.png'); background-size:contain; background-repeat:no-repeat; background-position:50% 50%; }


        &>.first-area{ position: absolute; top:0; left:0; @include conUnit(padding, 50); box-sizing:border-box; width:100%; height:auto; @include conUnit(min-height, 1000); background-color:transparent; 
          &>p{ @include conUnit(padding, 30); width:80%; @include conUnit(height, 100); margin:auto; @include conUnit(margin-bottom, 50); background-color:rgba(255,255,255,0.5); @include conUnit(font-size, 30); text-align:center; @include conUnit(line-height, 100); color:#333; }
          &>.sec01{ width:100%; height:auto; @include conUnit(margin-bottom, 100);
          &:after{ content:" "; display:block; @include fullBox; clear:both; }
            &>.img-area{ float:left; width:50%; @include conUnit(height, 400); background-image: url('../../img/portfolio/first/first-wire-frame.png'); background-size:cover; background-repeat:no-repeat; background-position:50% 50%; }
            &>.produc-area{ float:right; @include conUnit(padding, 30); box-sizing:border-box; width:50%; @include conUnit(height, 400); transform:translateY(10%); 
              &>p{ @include fullBox; @include conUnit(font-size, 18); color:#333; }
            }
          } //sec01
          &>.sec02{ width:100%; height:auto; @include conUnit(margin-bottom, 100); 
          &:after{ content:" "; display:block; @include fullBox; clear:both; }
            &>.slide-area{ position:relative; width:100%; @include conUnit(height, 500); margin:auto; overflow:hidden;
              &>ul{ width:100% * $c; height:100%; transform:translateX(-100% / $c);
                &>li{ float:left; width:100% / $c; height:100%; 
                  &>span{ display:block; width:auto; height:auto; @include conUnit(font-size, 100); text-align:center; @include conUnit(line-height, 500); color:#fff; }
                } //li
              } //ul
              &>.btn-area{ position:absolute; top:50%; left:0; width:100%; height:auto; transform:translateY(-50%); 
                &>button{ float:right; @include conUnit(width, 50); @include conUnit(height, 50); background-color:transparent;
                &.prev{ float:left; }
                  &>i{ @include conUnit(font-size, 40); color:#fff; }
                }
              }
            } //slide-area
            &>pre{ @include conUnit(padding, 20); width:80%; @include conUnit(height, 200); margin:auto; @include conUnit(margin-top, 50); background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase; }
          } //sec02 
          &>.sec03{ width:100%; @include conUnit(height, 500); background-color:rgba(255,255,255,0.5); overflow:hidden; overflow-y:auto;
            &>.scroll-area{ @include conUnit(padding, 30); box-sizing:border-box; width:100%; height:100% * $no; 
              &>.area01{ width:80%; height:50%; margin:auto; background-image: url('../../img/portfolio/first/airplan.jpg'); background-size:cover; background-repeat:no-repeat; background-position:50% 50%; 
                &>span{ display:block; width:auto; height:100%; transform:translateY(50%); @include conUnit(font-size, 40); color:#fff; text-shadow:3px 3px 0 #333; text-align:center; }
              }
              &>.area02{ width:80%; height:50%; margin:auto; background-image: url('../../img/portfolio/first/airplan.jpg'); background-size:cover; background-repeat:no-repeat; background-position:50% 50%;
                &>span{ display:block; width:auto; height:auto; z-index:50; transform:translateY(400%); @include conUnit(font-size, 40); color:#fff; text-shadow:3px 3px 0 #333; text-align:right; }
                &>ul{ width:50%; height:80%; transform:translateY(5%);margin-left:-100%;  
                  &>li{ width:100%; height:100% / $n; transform:translateX(-50vw); 
                  &:nth-child(1){ background-image: url('../../img/portfolio/first/valy01.jpg'); background-size:cover; background-repeat:no-repeat; background-position:50% 50%; }
                  &:nth-child(2){ background-image: url('../../img/portfolio/first/kota01.jpg'); background-size:cover; background-repeat:no-repeat; background-position:0 0; }
                  &:nth-child(3){ background-image: url('../../img/portfolio/first/manyla01.jpg'); background-size:cover; background-repeat:no-repeat; background-position:50% 50%; }
                  } //li
                } //ul
                &.action > ul{margin-left: 0;}
                &.action > ul li{transform:translateX(0);}
                &.action > ul li:nth-child(1){transition:all 500ms ease 300ms;}
                &.action > ul li:nth-child(2){transition:all 500ms ease 600ms;}
                &.action > ul li:nth-child(3){transition:all 500ms ease 900ms;}
              } //area02
              &>pre{ width:80%; @include conUnit(height, 300); margin:auto; @include conUnit(margin-top, 50); background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase; }
            } //scroll-area
          } //sec03
          &>.sec04{ @include conUnit(padding, 30); box-sizing:border-box; width:100%; height:auto; @include conUnit(margin-top, 150); background-color:rgba(255,255,255,0.5);
            &>.img-change{ width:100%; @include conUnit(height, 700); 
              &>span{ display:block; width:100%; height:auto; transform:translateY(900%); @include conUnit(font-size, 30); color:#fff; text-align:center; } 
              &>ul{ width:100%; height:50%; 
                &>li{ float:left; width:29%; @include conUnit(height, 300);  margin-right:5%; @include conUnit(margin-bottom, 50); background-color:#edd; 
                &:last-child{ margin-right:0; }
                } //li
              } //ul
            } //img-change
          } //sec04
          &>pre{ width:100%; @include conUnit(height, 300); margin:auto; @include conUnit(margin-top, 100); background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase; }
          &>.complete-box{ position:relative; @include conUnit(padding, 50); box-sizing:border-box; width:100%; @include conUnit(height, 500); @include conUnit(margin-top, 150); 
            &>.complete-img{ position:relative; @include conUnit(width, 550); @include conUnit(height, 360); margin:auto; background-color: #333; overflow:hidden; 
              &>img{ position:absolute; left:0; @include conUnit(top, 20); @include conUnit(width, 550); height:auto; 
              }
            }
            &>.macbook{ position:absolute; top:0; left:0; @include fullBox; background-image: url('../../img/portfolio/macbook.png'); background-size:contain; background-repeat:no-repeat; background-position:50% 50%; }
          } //complete-img
        } //first-area   


        &>.secound-area{ display:none; position: absolute; top:0; left:0; @include conUnit(padding, 50); box-sizing:border-box; width:100%; height:auto; @include conUnit(min-height, 1000); background-color:transparent;; 
          &>p{ @include conUnit(padding, 30); width:80%; @include conUnit(height, 100); margin:auto; @include conUnit(margin-bottom, 50); background-color:rgba(255,255,255,0.5); @include conUnit(font-size, 30); text-align:center; @include conUnit(line-height, 100); color:#333; }
          &>.sec01{ width:100%; height:auto; @include conUnit(margin-bottom, 100);
          &:after{ content:" "; display:block; @include fullBox; clear:both; }
            &>.img-area{ float:left; width:50%; @include conUnit(height, 400); background-image: url('../../img/portfolio/secound/secound-wire-frame.png'); background-size:cover; background-repeat:no-repeat; background-position:50% 50%; }
            &>.produc-area{ float:right; @include conUnit(padding, 30); box-sizing:border-box; width:50%; @include conUnit(height, 400); transform:translateY(10%);
              &>p{ @include fullBox; @include conUnit(font-size, 18); color:#333; }
            }
          } //sec01
          &>.sec02{ width:100%; height:auto; @include conUnit(margin-bottom, 100); 
          &:after{ content:" "; display:block; @include fullBox; clear:both; }
            &>.slide-area{ position:relative; width:100%; @include conUnit(height, 500); margin:auto; background-color: #fff; overflow:hidden;
              &>ul{ width:100% * $co; height:100%; transform:translateX(-100% / $co);
                &>li{ float:left; width:100% / $co; height:100%; 
                  &>span{ display:block; width:auto; height:auto; @include conUnit(font-size, 100); text-align:center; @include conUnit(line-height, 500); color:#fff; }
                } //li
              } //ul
              &>.btn-area{ position:absolute; top:50%; left:0; width:100%; height:auto; transform:translateY(-50%); 
                &>button{ float:right; @include conUnit(width, 50); @include conUnit(height, 50); background-color:transparent;
                &.prev02{ float:left; }
                  &>i{ @include conUnit(font-size, 40); color:#fff; }
                }
              }
            } //slide-area
            &>pre{ @include conUnit(padding, 20); width:80%; @include conUnit(height, 200); margin:auto; @include conUnit(margin-top, 50); background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase; }
          } //sec02 
          &>.sec03{ width:100%; @include conUnit(height, 500); background-color:rgba(255,255,255,0.5); overflow:hidden; overflow-y:auto;
            &>.scroll-area{ @include conUnit(padding, 50); box-sizing:border-box; width:100%; @include conUnit(height, 800);
              &>.area01{ width:80%; height:50%; margin:auto; background-image: url('../../img/portfolio/secound/floor.jpg'); background-size:cover; background-position:50% 50%; background-repeat: no-repeat; 
                &>span{ display:block; width:auto; height:auto; @include conUnit(font-size, 30); text-align:center; @include conUnit(line-height, 400); color:#fff; }
              }
              &>.area02{ width:80%; height:50%; margin:auto; background-image: url('../../img/portfolio/secound/floor.jpg'); background-size:cover; background-position:50% 50%; background-repeat: no-repeat; 
                &>.coffee{ position:relative; width:100%; height:50%; 
                  &>.img01{ position:absolute; top:0; left:-100%; width:50%; height:100%; background-image: url('../../img/portfolio/secound/coffee.jpg'); background-size:cover; background-position:50% 50%; background-repeat: no-repeat;  
                  &.action{ left:0; transition:all 300ms ease;  } 
                  } //img01
                } //coffee
                &>.brunch{ position:relative; width:100%; height:50%; 
                  &>.img02{ position:absolute; top:0; right:-100%; width:50%; height:100%; background-image: url('../../img/portfolio/secound/brunch.jpg'); background-size:cover; background-position:50% 50%; background-repeat: no-repeat;  
                  &.action{ right:0; transition:all 300ms ease;  } 
                  } //img02
                } //brunch
              } //area02
            } //scroll-area
            &>pre{ @include conUnit(padding, 20); width:80%; @include conUnit(height, 200); margin:auto; background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase; }
          } //sec03
          &>.sec04-t{ @include conUnit(padding, 30); box-sizing:border-box; width:100%; height:auto; @include conUnit(min-height, 500); @include conUnit(margin-top, 150); background-color:rgba(255,255,255,0.5); overflow:hidden; overflow-y:auto;
            &>.text-change{ width:100%; @include conUnit(height, 500); background-color:#edd; 
              &>ul{ @include conUnit(padding, 30); box-sizing:border-box; width:80%; height:50%; margin:auto; 
                &>li{ float:left; width:25%; height:100%; border-radius:100%; background-color: #fff; 
                  &>span{ display:block; @include fullBox; text-align:center; transform:translateY(45%); @include conUnit(font-size, 16); color:#fff; }
                }
              } //ul
              &>p{ width:100%; @include conUnit(height, 100); @include conUnit(line-height, 100); background-color:rgba(255,255,255,0.5); text-align:center; @include conUnit(font-size, 20); }
              &>span{ display:block; width:100%; @include conUnit(height, 50); @include conUnit(padding, 30); @include conUnit(font-size, 30); text-align:center; @include conUnit(line-height, 30); color:#333; }
            } //text-change
            &>pre{ @include conUnit(padding, 20); width:80%; @include conUnit(height, 200); margin:auto; @include conUnit(margin-top, 50); background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase; }
          } //sec04
          &>.complete-box{ position:relative; @include conUnit(padding, 50); box-sizing:border-box; width:100%; @include conUnit(height, 500); @include conUnit(margin-top, 150); 
            &>.complete-img{ position:relative; @include conUnit(width, 550); @include conUnit(height, 360); margin:auto; background-color: #333; overflow:hidden; 
              &>img{ position:absolute; left:0; @include conUnit(top, 20); @include conUnit(width, 550); height:auto; 
              }
            }
            &>.macbook{ position:absolute; top:0; left:0; @include fullBox; background-image: url('../../img/portfolio/macbook.png'); background-size:contain; background-repeat:no-repeat; background-position:50% 50%; }
          }
      } //secound-area
        
        
        &>.third-area{ display:none; position: absolute; top:0; left:0; @include conUnit(padding, 50); box-sizing:border-box; width:100%; height:auto; @include conUnit(min-height, 1000); background-color:transparent;
          &>p{ @include conUnit(padding, 30); width:80%; @include conUnit(height, 100); margin:auto; @include conUnit(margin-bottom, 50); background-color:rgba(255,255,255,0.5); @include conUnit(font-size, 30); text-align:center; @include conUnit(line-height, 100); color:#333;  }
          &>.sec01{ width:100%; height:auto; @include conUnit(margin-bottom, 100);
          &:after{ content:" "; display:block; @include fullBox; clear:both; }
            &>.img-area{ float:left; width:50%; @include conUnit(height, 400); background-image: url('../../img/portfolio/third/third-wire-frame.png'); background-size:cover; background-repeat:no-repeat; background-position:50% 50%; }
            &>.produc-area{ float:right; @include conUnit(padding, 30); box-sizing:border-box; width:50%; @include conUnit(height, 400); transform:translateY(10%);
              &>p{ @include fullBox; @include conUnit(font-size, 18); color:#333; }
            }
          } //sec01
          &>.sec02{ width:100%; height:auto; @include conUnit(margin-bottom, 100); 
            &:after{ content:" "; display:block; @include fullBox; clear:both; }
              &>.third-ul{ position:relative; width:100%; @include conUnit(height, 500); margin:auto; 
                &>li{ position:absolute; top:0; left:0; width:100%; height:100%; 
                  &>span{ display:block; width:auto; height:auto; @include conUnit(font-size, 100); text-align:center; @include conUnit(line-height, 500); color:#fff; text-shadow:3px 3px 5px #333; }
                }
              } //ul
              &>pre{ @include conUnit(padding, 20); width:80%; @include conUnit(height, 200); margin:auto; @include conUnit(margin-top, 50); background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase; }
            } //sec02 
            &>.sec03{ @include conUnit(padding, 30); box-sizing:border-box; width:100%; height:auto; background-color: #fff;
              &>ul{ width:100%; @include conUnit(height, 100); margin:auto; background-color:#f6f1ee;
                &>li{ float:left; width:25%; height:100%; margin:auto; background-color:transparent; 
                  &>span{ display:block; @include fullBox; text-align:center; @include conUnit(line-height, 100); @include conUnit(font-size, 30); color:#fff; text-shadow:3px 3px 5px #333; }
                }
              } //ul
              &>.conBox{ width:100%; @include conUnit(height, 500); background-color:#f6f1ee;
                &>.content-area{ float:left; @include conUnit(padding, 30); box-sizing:border-box; width:50%; height:100%;  
                  &>.third-img-area{ @include fullBox; background-image: url('../../img/portfolio/third/season00.jpg'); background-size:contain; background-position:50% 50%; background-repeat:no-repeat; }
                } //content-area
                &>.txt-area{ float:left; @include conUnit(padding, 30); box-sizing:border-box; width:50%; height:100%; 
                  &>.third-txt-area{ position:relative; @include fullBox; background-image: url('../../img/portfolio/third/flower-pattern-02.png'); background-size:contain; background-position:50% 50%; background-repeat:no-repeat; 
                    &>span{ display:block; position:absolute; top:50%; left:0; width:100%; height:50%; text-align:center; color:#333; }
                  } //third-txt-area
                } //txt-area
              } //conBox
              &>pre{ @include conUnit(padding, 20); width:80%; @include conUnit(height, 200); margin:auto; @include conUnit(margin-top, 50); background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase;  }
            &:after{ content:" "; display:block; @include fullBox; clear:both; }
            } //sec03
            &>.sec04-third{ @include conUnit(padding, 50); box-sizing:border-box; width:100%; height:auto; @include conUnit(margin-top, 100); background-color:rgba(255,255,255,0.5);
              &>ul{ width:100%; @include conUnit(height, 400);
                &>.img-li{ float:left; width:30%; height:100%; background-color:#edd; margin-left:5%; 
                &:nth-child(1){ margin-left:0; background-image: url('../../img/portfolio/third/perfume04.jpg'); background-size:cover; background-position:50% 50%; background-repeat:no-repeat; }
                &:nth-child(2){ background-image: url('../../img/portfolio/third/perfume05.jpg'); background-size:cover; background-position:50% 50%; background-repeat:no-repeat; }
                &:nth-child(3){ background-image: url('../../img/portfolio/third/perfume06.jpg'); background-size:cover; background-position:50% 50%; background-repeat:no-repeat; }
                  &>p{ display:none; width:100%; height:20%; background-color:rgba(200,200,200,0.5); transform:translateY(350%); text-align:center; @include conUnit(line-height, 80); color:#fff; }
                } //li
              } //ul
              &>.line{ width:100%; @include conUnit(height, 20); @include conUnit(margin-top, 50); @include conUnit(border-radius, 30); background-color: #edd;   
                &>ul{ @include fullBox; 
                  &>.line-li{ float:left; width:100% / $n; height:100%; margin-left:0; @include conUnit(border-radius, 30); 
                    &>span{ display:block; @include conUnit(width, 25); @include conUnit(height, 25); border-radius:100%; background-color:#fff; margin:auto; transform: scale(1.5); color:#333; text-align:center; }
                  &.action{ background-color: #fff; }
                  &.action>span{ transform: scale(2); background-color:#edd; }
                  }
                }
              }
              &>pre{ @include conUnit(padding, 20); width:80%; @include conUnit(height, 200); margin:auto; @include conUnit(margin-top, 50); background-color:#333; overflow:hidden; overflow-y:auto; color:#06f; @include conUnit(font-size, 20); font-weight:bold; text-transform:lowercase;  }
            } //sec04
            &>.complete-box{ position:relative; @include conUnit(padding, 50); box-sizing:border-box; width:100%; @include conUnit(height, 500); @include conUnit(margin-top, 100);   
              &>.complete-img{ position:relative; @include conUnit(width, 550); @include conUnit(height, 360); margin:auto; background-color: #333; overflow:hidden; 
                &>img{ position:absolute; left:0; @include conUnit(top, 20); @include conUnit(width, 550); height:auto; 
                }
              }
              &>.macbook{ position:absolute; top:0; left:0; @include fullBox; background-image: url('../../img/portfolio/macbook.png'); background-size:contain; background-repeat:no-repeat; background-position:50% 50%; }
            }
          } //third-area 

        } //p-right-box
      } //p-wrap-box
    } //portfol-area