
#resume-area{ display:none; position:absolute; @include conUnit(top, 100); left:0; @include conUnit(padding, 30); box-sizing:border-box; width:100%; @include conUnit(height, 1000); background-color:rgb(231, 216, 216); 
  &>.wrap-box{ @include conUnit(padding, 20); box-sizing:border-box; @include fullBox; 
    &>.left-box{ float:left; margin-right:3%; width:20%; height:100%; background-color:#d3c2c2; @include conUnit(border-radius, 10); 
      &>ul{ @include conUnit(padding, 20); box-sizing:border-box; @include fullBox; 
        &>li{ width:100%; background-color: #fff; @include conUnit(border-radius, 20);
        &:nth-child(1){ height:50%; margin-top:10%; }
        &:nth-child(2){ height:10%; margin-top:10%; }
        &:nth-child(3){ height:10%; margin-top:10%; }
        &:nth-child(4){ height:10%; margin-top:10%; }
          &>span{ display:block; padding:20px 20px 0 20px; width:100%; height:auto; 
          &:nth-of-type(2){ padding:0 20px 0 20px; text-transform:lowercase; }
          }
        } //li
      } //ul 
    } //left-box
    &>.right-box{ float:right; position:relative; width:75%; height:100%; background-color:#eee; overflow:hidden;
      &>.visible-box{ position:absolute; top:0; left:0; @include fullBox; background-image: url('../../img/resume/resume02-01.png'); background-size:contain; background-position:50% 50%; background-repeat: no-repeat; transition:all 500ms ease; background-color: #b1dcdd;
        &>.btn-area{ position:absolute; top:50%; right:5%; transform:translateY(-50%); z-index:100; width:auto; height:auto; 
          &>button{ @include conUnit(width, 100); @include conUnit(height, 100); background-color:transparent; 
            &>i{ @include conUnit(font-size, 100); color:#d3c2c2; }
          }
        }
      }
      &>.hidden-box{ position:absolute; top:0; left:200%; @include fullBox; background-image: url('../../img/resume/resume02-02.png'); background-size:contain; background-position:50% 50%; background-repeat: no-repeat; transition:all 500ms ease; background-color: #2b333d; }
    }
  }
}